#header p {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  margin: auto;
  background-color: aqua;
}

#header h2 {
  font-size: 2em;
  margin-bottom: 0.2em;
}

div#header {
  border-bottom: 3px solid royalblue;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

.completion {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1000px) {
  body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
