#new-todo {
  height: 25px;
}

#add-form {
  margin-top: 20px;
}

/* ヘッダー部分 */
#header p {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  margin: auto;
  padding-left: 0.5em;
  background-color: orange;
}

#header h2 {
  font-size: 2em;
  margin-bottom: 0.2em;
}

div#header {
  border-bottom: 3px solid royalblue;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

/* todo-main部分 */
#todo-main li {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
}

#todo-main span {
  margin-right: 0.3em;
}

/* ボタンを押した時の処理 */
.completion span {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

button {
  cursor: pointer;
  background-color: aqua;
  border-radius: 100vh;
  margin: 0.1em 0.2em;
  font-weight: 700;
  padding: 0.15em 0.4em;
  color: white;
  border: 1px solid black;
  font-size: 1.2em;
}

button:hover {
  opacity: 0.5;
}

#search button {
  background-color: chartreuse;
  padding: 0.3em 0.8em;
}

#add-button {
  background-color: white;
  color: black;
  padding: 0.2em 2em;
}

/* 簡単なレスポンシブデザイン */
@media (min-width: 1000px) {
  body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
