<!DOCTYPE html>
<html lang="ja">
  <head>
    <script src="https://unpkg.com/vue@next"></script>
    <meta charset="UTF-8" />
    <title>TodoApp</title>
  </head>
  <body>
    <div id="header"><h2>{{headerTitle}}</h2></div>
    <div id="todo-main">
      <form @submit.prevent="addnewTodo">
        <input v-model="newTodoText" id="new-todo" placeholder="タスクを追加" />
        <button>追加</button>
        <ul>
          <todo-item
            v-for="(todo,index) in todos"
            :key="todo.id"
            :title="todo.title"
            @remove="removeTodo"
          ></todo-item>
        </ul>
      </form>
    </div>
  </body>
  <script>
    //conponent
    const todoitem = {
      template: `
        <li>
          {{ title }}
          <button @click="$emit('remove')">タスククリア！</button>
          </li>
          `,
      props: ["title"],
      emits: ["remove"],
    };

    //todo-mainApp
    const TodoApp = Vue.createApp({
      components: {
        "todo-item": todoitem,
      },
      data() {
        return {
          newTodoText: "",
          todos: [{ id: 1, title: "明日マヨネーズを買う" }],
          allId: 1,
          nextid: 1,
        };
      },
      methods: {
        addnewTodo() {
          this.todos.push({
            id: this.nextid++,
            title: this.newTodoText,
          });
          this.allId++;
          this.newTodoText = "";
        },
      },
      removeTodo() {
        console.log("hoge");
      },
    });
    TodoApp.mount("#todo-main");

    //header
    const headerApp = Vue.createApp({
      data() {
        return {
          headerTitle: "初めてのTodoアプリ",
        };
      },
    });
    headerApp.mount("#header");
  </script>
</html>
