<!DOCTYPE html>
<html lang="ja">
  <head>
    <script src="https://unpkg.com/vue@next"></script>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>TodoApp</title>
  </head>
  <body>
    <div id="todo-main">
      <div id="header">
        <h2>Todo App!</h2>
        <p>総タスク数：{{ todos.length }}</p>
        <p>作業タスク数：{{ todos.length - compId }}</p>
        <p>完了数：{{compId }}</p>
      </div>
      <todo-search
        @select-all="status = 0"
        @select-comp="status = 1"
        @select-task="status = 2"
      ></todo-search>
      <form @submit.prevent="addnewTodo" id="add-form">
        <input v-model="newTodoText" id="new-todo" placeholder="タスクを追加" />
        <button id="add-button">追加</button>
      </form>
      <ul>
        <todo-item
          v-for="(todo,index) in filterTodos"
          class="todoitem"
          :key="todo.id"
          :title="todo.title"
          :comp="todo.compText"
          :class="{completion:todo.isActive}"
          @comp="completionTodo(todos,index)"
          @remove="removeTodo(todos,index)"
        ></todo-item>
      </ul>
    </div>
  </body>
  <script>
    //component todoitem
    const todoitem = {
      props: ["title", "comp"],
      emits: ["comp", "remove"],
      template: `
        <li>
          <span>{{ title }}</span>
          <button @click="$emit('comp')">{{ comp }}</button>
          <button @click="$emit('remove')">削除</button></li>
          `,
    };

    //component todosearch
    const todosearch = {
      props: ["todos"],
      template: `
      <div id="search">
        <button @click="$emit('select-all')">すべて</button>
        <button @click="$emit('select-comp')">完了</button>
        <button @click="$emit('select-task')">作業中</button>
      </div>
        `,
    };

    //todo-mainApp
    const TodoApp = Vue.createApp({
      components: {
        "todo-item": todoitem,
        "todo-search": todosearch,
      },
      data() {
        return {
          newTodoText: "",
          todos: [],
          nextId: 0,
          compId: 0,
          status: 0, // 0== all, 1== 完了 , 2== 未完了
        };
      },
      //インスタンス生成時に実行される
      created() {
        //ローカルストレージからtodos配列を取得
        this.todos = JSON.parse(localStorage.getItem("todos"));
        //ない時は配列を宣言
        if (this.todos == null) {
          this.todos = new Array();
        }
        //compId(完了数)も同じく
        this.compId = localStorage.getItem("compId");
        if (this.compId == null) {
          this.compId = 0;
        }
        //nextIdを初期化（配列の長さ+1）
        this.nextId = this.todos.length + 1;
      },
      //ウォッチャー(更新されると実行という解釈？)
      watch: {
        todos: {
          handler: function () {
            jsonTodos = JSON.stringify(this.todos, undefined, 1);
            localStorage.setItem("todos", jsonTodos);
          },
          deep: true,
        },
        compId(newId, oldId) {
          localStorage.setItem("compId", newId);
        },
      },
      methods: {
        //タスクを追加
        addnewTodo() {
          this.todos.push({
            id: this.nextId++,
            title: this.newTodoText,
            isActive: false,
            compText: "完了",
          });
          this.newTodoText = "";
        },
        //タスクを削除
        removeTodo(todos, index) {
          if (todos[index].isActive) {
            this.compId--;
          }
          todos.splice(index, 1);
          this.nextId--;
        },
        //タスクを完了or元に戻すボタン
        completionTodo(todos, index) {
          todo = todos[index];
          todos[index].isActive;
          //反転
          todo.isActive = !todo.isActive;

          //完了ボタンと元に戻すボタン
          if (todo.isActive) {
            todo.compText = "元に戻す";
            this.compId++;
          } else {
            todo.compText = "完了";
            this.compId--;
          }
        },
      },
      computed: {
        filterTodos() {
          if (this.status === 0) {
            return this.todos.filter(function (val) {
              return val;
            });
          } else if (this.status === 1) {
            return this.todos.filter(function (val) {
              return val.isActive;
            });
          } else if (this.status === 2) {
            return this.todos.filter(function (val) {
              return !val.isActive;
            });
          }
        },
      },
    });
    TodoApp.mount("#todo-main");
  </script>
</html>
